#contacttext {
    color: rgb(23, 65, 65);
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
}

#contacttitle {
    color: rgb(23, 65, 65);
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}